 
 body{
    background-color: black;

 }

 .navbar .navbar-nav .nav-link:hover{
    color:beige;
   border-top: #a4b47d;
   position: relative;
   display: block;
   padding-bottom: 2px;
}


  

#port h4{
  font-style:italic;
  color:black;
  text-align: justify !important;
  font-weight: 200;
}

#port{
    /* background-color:#21a78c; */
    background-color:beige;
    color: rgb(247, 241, 241);
    font-style: italic;
    /* font-style:oblique; */
    /* font-family: cursive; */

 
}
#intro{
    background-color: black;
    color: aliceblue;

}



.one{
  font-size: 50px;
width: 0ch;
white-space: nowrap;
overflow: hidden;
animation: typing 2s 1 forwards;



}
@keyframes typing{
  0%{width: 0ch;}
  100%{ width: 12ch;}

 
}



.slide-content{
  margin: 0 40px;
  overflow: hidden;
}


.swiper-navBtn{
  color: #a4b47d !important ;
  transition: color 0.3s ease;

}
.swiper-navBtn:hover{
  color: white !important;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0 !important;
}
.swiper-button-prev{
  left: 0 !important;
}
.swiper-pagination-bullet{
  background-color: #a4b47d !important;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color:#a4b47d;
}

@media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px !important;
    }
    .swiper-navBtn{
      display: none !important;
    }
  }

#skills-section i,h2{
  font-family: "Poppins";
font-size: 50px;

}


#skills-section .card{
background-color: rgb(32, 36, 36);
color: azure;




}

#skills-section .card:hover{
background-image: url(../Images/back/web-design-concept-with-drawings.jpg);
color: black;

}

/* #overlay_card:hover{
  background-image: url(../Images/Programming-amico.svg);
} */

.progress-bar{

background-color: #a4b47d !important;

}





#service{
    background-color: black;
    /* background-image: url(/Assets/Images/back/web-design-concept-with-drawings.jpg); */
    
    /* background-repeat: no-repeat; */

}
#service .card{
    height: 500px;
    border-style: groove;
    background-color:beige;
  

    /* color: aliceblue; */
    /* color: black; */


}
#service p,h5{

    text-align: justify !important;
    font-weight: bold;
    
}
#service .card:hover{
    /* background-color: #b47d91; */

    /* background-color: #ba8335; */
    background-color:black;

    color:white;
border: #a4b47d 2px solid;

}
#service img:hover {
    transform:scale(1.1);
    transition: 1s;

}
#two .card{
    height: 250px;
    color: black !important;
    position: relative;
    overflow: hidden;

}

.cont{
color: aliceblue;
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  transition: all 1s ;
}
.card:hover .cont{
    left: 0;
    background-color: black;
    opacity: 0.9;
 
}


#contact h1,h4{
    /* color: azure; */
    color: #a4b47d;
    font-family: "Poppins"  ;
}

#contact  ul  {
    list-style: none;
    display: flex;
    padding: 0vh;
    /* color:rgb(211, 202, 21) ; */
    color: #a4b47d;

}
.btn:hover{
    background-color: #a4b47d;
    color: aliceblue;

}

#contact  ul li{
    padding:  10px ;
    font-size: 18px;
    

}
#contact i{
    font-size: 30px;
}

.form-control{
    border-width: 2px; 
    border-radius: 5px;
    border-color:#a4b47d;
}

.footer{
    height: 100px;
    border-top: 1px solid #a4b47d ;
    text-align: center;
    height: auto;
    color: aliceblue;
}

/* form */




.message{
  width: 100%;
  position: relative;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}
.message .success{
  font-size: 20px;
  color: green;
  position: absolute;
  animation: buttons .3s linear;
  display: none;
}
.message .danger{
  font-size: 20px;
  color: red;
  position: absolute;
  transition: .3s;
  animation: buttons .3s linear;
  display: none;
}
@keyframes buttons{
  0%{
      transform: scale(0.1);
  }
  50%{
      transform: scale(0.5);
  }
  100%{
      transform: scale(1);
  }
}